#question-details .post-title {
    font-size: 1.6875rem;
    font-weight: 400;
    line-height: 1.35;
    overflow-wrap: break-word;
    color: var(--onyx);
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--platinum);
}

/* --- Answer-Form --- */
#answer-form .answer-form-header {
    font-size: 1.1875rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1em;
    padding-top: 1.25rem;
}

#answer-form .btn-container {
    margin-top: 1rem;
    padding: 0.625rem 0 0.9375rem;
}

/* --- Bottom-Notice --- */
.bottom-notice {
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--eerie-black);
    margin: 0.9375rem 0 1.0625rem;
    padding-right: 0.625rem;
}

.bottom-notice .tags-wrapper {
    display: inline-flex;
    margin: 0 0.3125rem;
}

@media (max-width: 640px) {
    #question-details .post-title {
        font-size: 1.375rem;
        padding: 1rem 0;
    }

    #answer-form .answer-form-header {
        font-size: 1.005rem;
        margin-bottom: 1em;
        padding-top: 1.25rem;
    }

    .bottom-notice {
        font-size: 0.899rem;
    }
}