.wrapper {
    width: 95vw;
    max-width: 1264px;
    margin: 0 auto;
}

#main-contents {
    display: flex;
    min-height: var(--main-content-height);
}

.main-container {
    flex-grow: 1;
    display: flex;
    padding: 1.5rem;
    border-left: 0.1em solid var(--platinum);
}

/* --- Loader --- */
#load-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -5;
}

#load-container.show {
    background-color: rgba(186, 191, 196, 0.25);
    z-index: 5;
}

#load-container::after {
    width: 3rem;
    height: 3rem;
    border: 0.5em solid rgba(244, 130, 37, 0.5);
    border-right-color: var(--orange-wheel);
    border-radius: 50%;
    animation: spinner 0.5s infinite paused;
    position: absolute;
}

#load-container.show::after {
    content: "";
    animation-play-state: running;
}

@keyframes spinner {
    100% {
        transform: rotate(-360deg);
    }
}

/* -- TextArea -- */
.post-form #postbody,
form #aboutMe {
    --font-size: 0.9375rem;
    --line-height: 1.3;
    --row-height: calc(var(--font-size) * var(--line-height));
    --yaxis-pad-border: calc((0.6em * 2) + (1px * 2));
    font-size: var(--font-size);
    line-height: var(--line-height);
    height: calc((var(--row-height) * 16) + var(--yaxis-pad-border));
    resize: vertical;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.post-form .submit-btn {
    margin: 0 0.25rem;
}

/* -- Buttons -- */
.so-btn {
    font-size: 1em;
    font-weight: 400;
    padding: 0.8em;
    border-radius: 0.1875rem;
    white-space: nowrap;
    outline: none;
}

.primary-btn {
    background-color: var(--dodger-blue);
    color: var(--white);
    border: 0.1em solid transparent;
}

.primary-btn:not(:disabled):hover {
    background-color: var(--french-blue);
    cursor: pointer;
}

.primary-btn:not(:disabled):active {
    background-color: var(--green-blue);
}

.secondary-btn {
    background-color: var(--alice-blue);
    color: var(--UCLA-blue);
    border: 0.1em solid var(--air-superiority-blue);
}

.secondary-btn:hover,
.secondary-btn:active {
    color: var(--lapis-lazuli);
}

.secondary-btn:hover {
    background-color: var(--columbia-blue);
}

.secondary-btn:active {
    background-color: var(--uranian-blue);
}

.grey-btn {
    font-family: inherit;
    text-align: center;
    display: inline-block;
    background-color: transparent;
    color: var(--slate-gray);
    border: 1px solid var(--cadet-gray);
}

.grey-btn:hover,
.grey-btn:focus {
    background-color: var(--sea-salt);
    color: var(--davys-grey);
    border-color: var(--cadet-gray);
}

.grey-btn:active {
    background-color: var(--anti-flash-white);
    color: var(--slate-gray);
}

.grey-btn:focus {
    box-shadow: rgba(35, 38, 41, 0.1) 0px 0px 0px 4px
}

/* -- Tags -- */
.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
}

.tag {
    font-size: 0.75rem;
    text-align: center;
    text-transform: lowercase;
    line-height: 1;
    white-space: nowrap;
    background-color: var(--alice-blue);
    color: var(--lapis-lazuli);
    padding: 0.4em 0.5em;
    border: 0.1em solid transparent;
    border-radius: 0.1875rem;
    cursor: default;
}

.tag:not(.no-hover):hover {
    background-color: rgb(208, 227, 241);
}

.link {
    color: var(--french-blue);
}

.link:hover,
.link:active {
    color: var(--dodger-blue);
}

@media (min-width: 981px) {
    .main-container #main-bar {
        width: calc(100% - 18.75rem - 1.5rem);
    }
}

@media (max-width: 980px) {
    .main-container {
        flex-direction: column;
        padding: 1.5rem 0;
    }

    .post-form #postbody {
        height: calc((var(--row-height) * 12) + var(--yaxis-pad-border));
    }

    @media (min-width:641px) {
        .main-container {
            padding-left: 1rem;
        }
    }
}

@media (max-width: 640px) {
    .main-container {
        border: none;
    }

    .post-form #postbody {
        height: calc((var(--row-height) * 8) + var(--yaxis-pad-border));
    }
}