#tag-contents {
    flex-direction: column;
}

#tag-contents .title {
    font-size: 1.6875rem;
    font-weight: 400;
    margin: 0 0 1rem;
}

#tag-contents .sub-title {
    font-size: 0.9375rem;
    max-width: 39.5rem;
    margin: 0 0 1rem;
}

#tag-contents #all-tags-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.75rem;
    width: 100%;
    margin-top: 1.25rem;
}

#all-tags-list .tag-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.75rem;
    border: 1px solid rgb(214, 217, 220);
    border-radius: 3px;
}

.tag-card p {
    margin: 0 0 1rem;
}

.tag-card .description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--onyx);
}

@media (max-width: 1264px) {
    #tag-contents #all-tags-list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 980px) {
    #tag-contents #all-tags-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 400px) {
    #tag-contents #all-tags-list {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}