#bot-chat-area {
    height: calc(100% - (3.5rem * 2));
    padding-top: 1rem;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    position: relative;
}

/* --- Progress-Bar --- */
#bot-chat-area #bot-progress-bar {
    height: 0.25rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#bot-container.processing #bot-progress-bar {
    background-color: rgba(246, 190, 143, 0.2);
}

#bot-container.processing #bot-progress-bar .slider {
    background-image: linear-gradient(to right, var(--platinum), var(--sky-blue), var(--sky-blue), var(--sky-blue), var(--platinum));
    width: 100px;
    height: 100%;
    animation: bounce-slider-X 0.8s infinite;
    transition: transform 0.4s ease-in-out;
}

@keyframes bounce-slider-X {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(260px);
    }

    100% {
        transform: translateX(0);
    }
}

/* --- Conversation --- */
#bot-chat-area .conversation {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
}

#bot-chat-area .conversation.user-cht {
    justify-content: flex-end;
}

#bot-chat-area .conversation.bot-cht:nth-last-child(2) {
    padding-bottom: 0.5rem;
}

/* -- Avatars -- */
.conversation .cht-avtar {
    padding: 0.375rem;
}

.conversation .cht-avtar.user-avtar {
    order: 1;
}

.conversation .cht-avtar .icon {
    border-radius: 50% 50% 0 50%;
    min-width: 2.5rem;
    height: 2.5rem;
    padding: 0.1875rem;
}

.conversation .cht-avtar .icon:not(.avtar-placeholder) {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.conversation .cht-avtar.user-avtar .icon {
    border-radius: 50% 50% 50% 0;
}

.conversation .cht-avtar.user-avtar .icon .avatar p {
    height: 19px;
}

/* -- Message -- */
.conversation .message {
    display: inline-block;
    font-size: 0.875rem;
    background-color: var(--corn-silk);
    color: var(--night);
    max-width: 55%;
    margin: 0 0 0.625rem 0;
    padding: 0.75rem;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    transform: scale(0);
    transform-origin: bottom left;
    overflow: hidden;
    word-wrap: anywhere;
    position: relative;
}

.conversation .message.bot-msg.point-up {
    border-radius: 0 1.125rem 1.125rem 1.125rem;
}

.conversation .message.user-msg {
    background-color: var(--white);
    color: var(--onyx);
    border-radius: 1.125rem 1.125rem 0 1.125rem;
}

.conversation .message.user-msg.point-up {
    border-radius: 1.125rem 0 1.125rem 1.125rem;
}

#bot-container.opened .conversation .message {
    -webkit-animation: msg-parsing 0.3s ease forwards;
    animation: msg-parsing 0.3s ease forwards;
}

@-webkit-keyframes msg-parsing {
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes msg-parsing {
    100% {
        transform: scale(1);
    }
}

.conversation .message .loading {
    font-size: 1em;
    display: flex;
    height: 0.625rem;
    position: relative;
}

.conversation .message .loading .dot {
    font-size: 1.5rem;
    margin-top: -0.9375rem;
}