#widgets-bar {
    float: right;
    width: 18.75rem;
    margin: 0 0 1rem 1.5rem;
}

#widgets-bar h4,
#widgets-bar p {
    margin: 0;
}

/* --- Widget --- */
#widgets-bar .widget {
    font-size: 1em;
    color: var(--eerie-black);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05),
        0px 1px 4px 0px rgba(0, 0, 0, 0.05),
        0px 2px 8px 0px rgba(0, 0, 0, 0.05);
    border: 0.1em solid;
    border-radius: 0.1875rem;
}

.widget .title {
    padding: 0.75rem 0.9375rem;
    border-bottom: 0.1em solid var(--dutch-white);
}

/* -- Widget (Meta-Posts) -- */
#widgets-bar .container-1 {
    background-color: var(--cosmic-latte);
    margin-bottom: 1rem;
    border-color: var(--dutch-white);
}

.container-1 .title {
    font-size: 0.75rem;
    font-weight: 700;
    background-color: var(--corn-silk);
    color: var(--davys-grey);
}

.container-1 .title:not(:first-child) {
    border-top: 0.1em solid var(--dutch-white);
}

.container-1 .widget-item {
    display: grid;
    grid-template-columns: 1.375rem 1fr;
    grid-template-rows: 1fr;
    color: var(--onyx);
    margin: 0.75rem 0;
    padding: 0 1rem;
}

.container-1 .widget-item p {
    word-wrap: break-word;
}

/* -- Icons -- */
.container-1 .widget-item .icon {
    margin-top: 0.1875rem;
}

.container-1 .widget-item .icon.meta-stack {
    background: url("../../assets/favicons.png") no-repeat 1rem transparent;
    width: 1rem;
    height: 1rem;
}

.container-1 .widget-item .icon.meta-stack.exchange {
    background-position: 0 -6120px;
}

.container-1 .widget-item .icon.meta-stack.overflow {
    background-position: 0 -6155px;
}

/* -- Widget (Tags) -- */
#widgets-bar .container-2 {
    background-color: var(--white);
    border-color: var(--platinum);
}

.container-2 .title {
    font-size: 1.15em;
    font-weight: 400;
    background-color: var(--sea-salt);
    border-bottom: 0.1em solid;
    border-color: var(--platinum);
}

.container-2 #popular-tags {
    padding: 1rem 0.9375rem;
}

.container-2 #popular-tags {
    justify-content: space-between;
}

@media (max-width: 980px) {
    #widgets-bar {
        float: none;
        clear: both;
        width: auto;
        margin: 0 0 0.5rem 0;
    }

    .container-2 #popular-tags {
        justify-content: center;
    }
}