#ask-question-contents {
    background-color: var(--anti-flash-white);
    min-height: var(--main-content-height);
}

#ask-question-contents .wrapper {
    padding: 0 2rem 1.5rem;
}

.page-title {
    font-size: 1.6875rem;
    font-weight: 600;
    height: auto;
    margin: 0;
    padding: 3rem 0 1.5rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.page-title::after {
    background-repeat: no-repeat;
    background-position: 100% 20px;
    background-size: 50%;
    width: 800px;
    height: 500px;
    transform: rotate(2.5deg) scale(0.8) translateY(-100px);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* --- Form --- */
#question-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#question-form label {
    display: block;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

/* -- Form-Container -- */
#question-form .ask-form-container {
    background-color: var(--white);
    padding: 1.5rem;
    border: 0.1em solid rgb(214, 217, 220);
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06),
        0 2px 6px rgba(0, 0, 0, 0.06),
        0 3px 8px rgba(0, 0, 0, 0.09);
    position: relative;
    z-index: 1;
}

.ask-form-container label>:not(.box):not(.tags-holder) {
    padding: 0 0.125rem;
}

.ask-form-container .box-name {
    font-size: 0.9375rem;
    font-weight: 600;
    color: var(--night);
    margin: 0
}

.ask-form-container .hint {
    font-size: 0.75rem;
    color: var(--onyx);
    margin: 0.25rem 0 0.5rem;
}

/* -- Tags -- */
.ask-form-container .tags-wrapper {
    row-gap: 0;
}

.ask-form-container .tags-wrapper .tag {
    margin-bottom: 0;
}

@media (max-width: 1192px) {
    .page-title::after {
        background-position-y: 30px;
        width: 700px;
        height: 400px;
        transform: rotate(2.5deg) scale(0.8) translateY(-50px);
    }
}

@media (max-width: 980px) {
    .page-title::after {
        background-position-y: 35px;
        width: 600px;
        height: 300px;
        transform: rotate(2.5deg) scale(0.8) translateY(-25px);
    }
}

@media (max-width: 800px) {
    .page-title::after {
        background-position-y: 40px;
        width: 500px;
        height: 200px;
        transform: rotate(2.5deg) scale(0.8) translateY(25px);
    }
}

@media (max-width: 640px) {
    #ask-question-contents .wrapper {
        padding: 0 5vw 1rem;
    }

    .page-title::after {
        background-position-y: 50px;
        width: 400px;
        height: 175px;
        transform: rotate(2.5deg) scale(0.8) translate(50px, 40px);
        right: 0;
    }
}

@media (min-width: 315px) {
    .page-title {
        height: 12rem;
    }

    .page-title::after {
        content: "";
        background-image: url("../../assets/forum.png");
    }
}