.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.75rem;
    margin-bottom: 0.75rem;
}

.main-header .title {
    font-size: 1.6875rem;
    font-weight: 400;
    flex: 1 auto;
    margin: 0 0 0.75rem;
}

#ask-ques-btn {
    line-height: 1.3;
    margin-bottom: 0.75rem;
    box-shadow: 0px 1px 0px 0px inset rgba(255, 255, 255, 0.4);
}

.question-count {
    font-size: 1.31em;
    line-height: 1.5;
    color: var(--eerie-black);
    margin-bottom: 1.25rem;
}

#questions {
    margin: 0 0 2.3125rem;
    border-top: 0.1em solid rgb(214, 217, 220);
}

/* --- Post --- */
#questions .question {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 0.1em solid rgb(227, 230, 232);
}

/* -- Votes & Answers -- */
.question .stats-content {
    display: flex;
    align-items: flex-end;
    gap: 0.375rem;
    color: var(--slate-gray);
}

.stats-content span {
    border: 0.1em solid transparent;
}

.stats-content .votes {
    color: var(--night);
}

.word-break {
    word-break: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.post-contents-summary {
    width: 100%;
}

/* -- Post-Title -- */
.post-title {
    font-size: 1.0625rem;
    font-weight: 400;
    margin: -0.15rem 0 0.3846rem;
    padding-right: 1.5rem;
}

/* -- Post-Summary -- */
.post-summary {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    color: var(--onyx);
    margin: -0.125rem 0 0.5rem;
    overflow: hidden;
}

.post-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.625rem;
}

/* -- Tags -- */
.post-meta .post-meta-tags {
    margin-bottom: 1em;
}

.post-meta .post-meta-tags p {
    margin: 0;
}

/* -- Author-Details -- */
.post-meta .post-author-details,
.post-meta .post-author-details .author-info {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.post-meta .post-author-details {
    font-size: 1em;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
}

.post-meta .post-author-details .author-info,
.post-meta .post-author-details .posted-time {
    font-size: 0.75rem;
}

.post-meta .post-author-details .posted-time {
    color: var(--slate-gray);
}

@media (min-width: 981px) {
    .question .stats-content {
        flex-direction: column;
        min-width: 6.75rem;
    }

    #questions {
        margin-left: -1.5rem;
    }
}

@media (max-width: 980px) {
    #questions .question {
        flex-direction: column;
        gap: 0.375rem;
    }
}

@media (max-width: 640px) {
    .main-header .title {
        font-size: 1.375rem;
    }

    .question-count {
        font-size: 0.9625rem;
    }

    #questions .question {
        padding: 1rem 0.5rem;
    }

    .post-title {
        font-size: 1.1065em;
    }

    .post-summary {
        font-size: 0.6875rem;
    }
}