.profile-edit {
    margin: 2rem 0.75rem 1rem;
}

.profile-edit .title {
    font-size: 1.6875rem;
    font-weight: 400;
    color: var(--night);
    margin: 0 0 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(214, 217, 220);
}

#profile-edit-form .sub-title {
    font-size: 1.3125rem;
    margin: 0 0 0.5rem;
}

#profile-edit-form .info-1 {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin-bottom: 2rem;
    padding: 1.5rem;
    border: 1px solid var(--platinum);
    border-radius: 0.3125rem;
}

#profile-edit-form .info-1 label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0.375rem 0;
    cursor: pointer;
}

.info-1 label .box-name {
    font-size: 0.9375rem;
    font-weight: 600;
    color: var(--night);
    margin: 0.125rem 0;
    padding: 0 0.125rem;
}

.info-1 label input {
    max-width: 28.125rem;
    margin: 0.125rem 0;
}

.info-1 label #aboutMe {
    font-size: 0.9375rem;
    height: calc((var(--row-height) * 10) + var(--yaxis-pad-border));
}

.info-1 .tags-wrapper .tag {
    margin-bottom: 0;
}

/* --- Buttons --- */
#profile-edit-form .btn-container {
    padding: 0.625rem 0 0.9375rem 0;
}

#profile-edit-form .btn-container .so-btn {
    margin: 0.25rem;
}

#profile-edit-form .btn-container #cancel-btn {
    font-size: 0.8125rem;
    font-weight: 300;
    margin-left: 0.375rem;
    padding: 0.8em;
}

@media (max-width: 980px) {
    #profile-edit-form #aboutMe {
        height: calc((var(--row-height) * 8) + var(--yaxis-pad-border));
    }
}

@media (max-width: 640px) {
    .profile-edit .title {
        font-size: 1.425rem;
    }

    #profile-edit-form .sub-title {
        font-size: 1.2375rem;
    }

    #profile-edit-form .info-1 {
        padding: 0.75rem;
    }

    .info-1 label .box-name {
        font-size: 0.7925rem;
    }

    .info-1 label input {
        max-width: initial;
    }

    #profile-edit-form #aboutMe {
        height: calc((var(--row-height) * 6) + var(--yaxis-pad-border));
    }
}

@media (max-width: 250px) {
    #profile-edit-form .btn-container .so-btn {
        width: calc(100% - (0.25rem * 2));
    }

    #profile-edit-form .btn-container #cancel-btn {
        width: calc(100% - (0.25rem + 0.375rem));
    }
}