/* --- Error --- */
#request-failed-background {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -5;
}

#request-failed-background.show {
    display: flex;
    background-color: rgba(186, 191, 196, 0.25);
    z-index: 5;
}

#request-failed-background .error-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: transparent;
    min-width: 250px;
    max-width: calc(100vw - 2em);
    padding: 1em 2em 1em 5em;
    border-radius: 0.5em;
    box-shadow: 0 0 1rem 0.2rem var(--peach);
    position: relative;
}

#request-failed-background.show .error-container {
    background-color: var(--xanthous);
    color: var(--black);
}

#request-failed-background .error-container::before {
    content: "";
    background: url("../../assets/exclamation-mark.png") no-repeat center/cover;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 1.5em;
}