#user-contents {
    flex-direction: column;
}

#user-contents .title {
    font-size: 1.6875rem;
    font-weight: 400;
    margin: 0 0 1rem;
}

#user-contents #all-users-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem 1rem;
    width: 100%;
    margin-top: 1.5rem;
}

#all-users-list .user-profile {
    color: var(--slate-gray);
    padding: 0.6rem;
    border-radius: 0.1875rem;
}

#all-users-list .user-profile .author-info {
    display: grid;
    gap: 0 0.5rem;
    grid-template-columns: min-content 1fr;
}

#all-users-list .user-profile .author-info .user-avatar {
    grid-row: 1/3;
    grid-column: 1/2;
}

#all-users-list .user-profile .author-info .since {
    font-size: 0.6875rem;
}

#all-users-list .user-profile .link {
    font-size: 0.9375rem;
}

@media (max-width: 1264px) {
    #user-contents #all-users-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 980px) {
    #user-contents #all-users-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 640px) {
    #user-contents #all-users-list {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}