.pricing-contents {
    text-align: center;
    background-color: var(--anti-flash-white);
    min-height: var(--main-content-height);
}

.pricing-contents .wrapper {
    padding: 0 2rem 4rem;
}

/* --- Pricing-Header --- */
.pricing-header .header-item {
    margin: 0;
}

.pricing-header .page-heading {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 3rem 0 1.5rem;
}

/* --- Pricing-Plans --- */
.pricing-contents #pricing-plans {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6rem 5rem;
    margin-top: 4rem;
}

@media (max-width: 800px) {
    .pricing-header .page-heading {
        font-size: 2.25rem;
    }
}

@media (max-width: 640px) {
    .pricing-contents .wrapper {
        padding: 0 1rem 3rem;
    }

    .pricing-header .page-heading {
        font-size: 2rem;
        padding: 2rem 0 1.5rem;
    }
}